[
  {
    "name": "pnex-install",
    "secret": {
      "Plain": "@RAUTHY_API_KEY_SECRET@"
    },
    "access": [
      {
        "group": "Clients",
        "access_rights": ["read", "create", "update", "delete"]
      }
    ]
  }
]
